{% block indexlogin %}


<!-- Link to register.css -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/register.css') }}">


<!-- Index Login // components/forms/ -->
<div class="container">
	<form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('login') }}">
		<div class="card-panel">
			<div class="row">
				<h3> Do you want to share your recipe with us?</h3>
			</div>
			<!-- Username -->
			<div class="row">
				<div class="input-field col s8 push-s2">
					<i class="fas fa-user prefix"></i>
					<input id="username" name="username" type="text"
                        minlength="5" maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$"
                        class="validate" required>
					<label for="username">Username</label>
				</div>
			</div>
			<!-- Password -->
			<div class="row">
				<div class="input-field col s8 push-s2">
					<i class="fas fa-user-lock prefix"></i>
					<input id="password" name="password"
                        minlength="5" maxlength="15" type="password"
                        pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
					<label for="password">Password</label>
				</div>
			</div>
			<!-- Log in  -->
			<div class="row">
				<button type="submit" class="col s6 push-s3 form-btn btn-large main-shadow">
                        Log In 
                    </button>
				<div class="col s12">
					<p class="center-align new-here-msg">
						Are You New Here?
						<a href="{{ url_for('register') }}" class="register-acc">
							Register Account!
						</a>
					</p>
				</div>
			</div>
		</div>
	</form>
</div>


{% endblock %}
