{% block log_in_form %}


<!-- Link to register.css -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/register.css') }}">


<!-- Log In Form // components/forms/ -->
<div class="container">
    <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('login') }}">
        <div id="log_in_form" class="register-panel">
            <h3 class="sign-msg">
                Welcome Back!
            </h3>
            <!-- Flash Message -->
            {% include 'components/flash_msg/flash_message.html' %}
            <!-- Username -->
            <div class="row">
                <div class="input-field col s12">
                <i class="fas fa-user prefix"></i>
                <input id="username" name="username" type="text"
                    minlength="5" maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$"
                    class="validate" required>
                <label for="username">Username</label>
                </div>
            </div>
            <!-- Password -->
            <div class="row">
                <div class="input-field col s12">
                <i class="fas fa-user-lock prefix"></i>
                <input id="password" name="password"
                    minlength="5" maxlength="15" type="password"
                    pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
                <label for="password">Password</label>
                </div>
            </div>
            <!-- Log in  -->
            <div class="row">
                <button type="submit" class="col s12 btn-large form-btn main-shadow">
                    Log In 
                </button>
                <div class="col s12">
                    <p class="center-align new-here-msg">
                        New Here?
                        <a class="register-acc" href="{{ url_for('register') }}">
                            Register Account!
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </form>
</div>


{% endblock %}
