{% extends "layout/base.html" %}

{% block content %}

<!-- Link to Add Recipe css -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/add_recipe.css') }}" />

<!-- Flash Message -->
{% include 'components/flash_msg/flash_message.html' %}


		<!-- FLOATING BUTTON \\ components/helpers/floating_button.html -->
    {% include 'components/helpers/floating_button.html' %}

<!-- <div class="container">
    <div class="row"> -->
        <div class="col s12 m6 l6 category-headers">
            {% include 'components/text_dividers/divider_top.html' %}
            <h1 class="center-align category-headers">Add Recipe</h1>
            {% include 'components/text_dividers/divider_bottom.html' %}
        </div>
 <!--    </div>
</div> -->
<div class="container add-recipe">
    <div class="row">
        <form class="col s10 push-s1" method="POST" action="{{ url_for('add_recipe') }}">
            <div class="row">
                <!-- Dropdown Recipe Category -->
                <div class="input-field col s12 m8 offset-m2">
                    <select id="recipe_category" name="recipe_category" class="validate" required>
                        <option value="" disabled selected>Choose Recipe Category</option>
                        {% for category in categories %}
                        <option value="{{ category.category_name }}">{{ category.category_name }} </option>
                        {% endfor %}
                    </select>
                </div>
                <!-- Dropdown Recipe Difficulty -->
                <div class="input-field col s12 m8 offset-m2">
                    <select id="recipe_difficulty" name="recipe_difficulty" class="validate" required>
                        <option value="" disabled selected>Choose Recipe Difficulty</option>
                        {% for difficulty in difficultys %}
                        <option value="{{ difficulty.difficulty_name }}">{{ difficulty.difficulty_name }} </option>
                        {% endfor %}
                    </select>
                </div>
                <!-- Text Input Recipe Name -->
                <div class="input-field col s12 m8 offset-m2">
                    <input
                        id="recipe_name"
                        name="recipe_name"
                        type="text"
                        minlength="5"
                        maxlength="40"
                        class="validate"
                        data-length="40"
                        pattern="[a-zA-Z]{5,40}|[a-zA-Z]{3,20}( )[a-zA-Z]{3,20}|[a-zA-Z]{3-20}( )[a-zA-Z]{3,20}( )[a-zA-Z]{3,20}"
                        title="Please use Alphabet letters!"
                        data-error="wrong"
                        required
                    />
                    <label for="recipe_name">Recipe Name</label>
                </div>
                <!-- Text Input Recipe Cooking Time -->
                <div class="input-field col s12 m8 offset-m2">
                    <input
                        id="recipe_cooking_time"
                        name="recipe_cooking_time"
                        type="text"
                        minlength="1"
                        maxlength="6"
                        class="validate"
                        data-length="6"
                        pattern="^[1-9]{1,2}( )[a-z]{1,3}|[1-9][0-9]{1,2}( )[a-z]{1,3}$"
                        title="Please use format X min, X h, EXAMPLE: 10 min, 10 h"
                        data-error="wrong"
                        required
                    />
                    <label for="recipe_cooking_time">Recipe Cooking Time</label>
                </div>
                <!-- Text input Recipe Preparation Time -->
                <div class="input-field col s12 m8 offset-m2">
                    <input
                        id="recipe_prep_time"
                        name="recipe_prep_time"
                        type="text"
                        minlength="1"
                        maxlength="6"
                        class="validate"
                        data-length="6"
                        pattern="^[1-9]{1,2}( )[a-z]{1,3}|[1-9][0-9]{1,2}( )[a-z]{1,3}$"
                        title="Please use format X min, X h, EXAMPLE: 10 min, 10 h"
                        data-error="wrong"
                        required
                    />
                    <label for="recipe_prep_time">Recipe Prepare Time</label>
                </div>
                <!-- Text Input Recipe Size -->
                <div class="input-field col s12 m8 offset-m2">
                    <input
                        id="recipe_servings"
                        name="recipe_servings"
                        type="text"
                        minlength="1"
                        maxlength="3"
                        class="validate"
                        data-length="3"
                        pattern="^[1-9]{1,3}|[1-9][0-9]{1,3}$"
                        title="Servings! Use Digits only"
                        data-error="wrong"
                        required
                    />
                    <label for="recipe_servings">Recipe Servings</label>
                </div>
                <!-- Text input Recipe Image -->
                <div class="input-field col s12 m8 offset-m2">
                    <input
                        id="recipe_image"
                        name="recipe_image"
                        type="text"
                        minlength="5"
                        maxlength="250"
                        class="validate"
                        data-length="250"
                        pattern="https?://.*"
                        title="Image URL must start with http:// or https://"
                        data-error="wrong"
                        required
                    />
                    <label for="recipe_image">Recipe Image ULR</label>
                </div>
                <!-- Text Input Recipe Ingredients -->
                <div class="input-field col s12 m8 offset-m2">
                    <textarea id="recipe_ingredients" 
                    name="recipe_ingredients" 
                    class="materialize-textarea validate"
                    minlength="5" 
                    maxlength="800" 
                    data-length="800" 
                    required></textarea>
                    <label for="recipe_ingredients">
                        Add here recipe ingredients and place every ingredient on a new line
                    </label>
                </div>
                <!-- Text Input Recipe Method -->
                <div class="input-field col s12 m8 offset-m2">
                    <textarea id="recipe_method" name="recipe_method" class="materialize-textarea validate" minlength="5" maxlength="3000" data-length="3000" required></textarea>
                    <label for="recipe_method">
                        Add here recipe cooking instructions and place every instruction on a new line
                    </label>
                </div>
            </div>
            <!-- Submit Button -->
            <div class="row">
                <div class="col s12 center-align">
                    <button class="btn waves-effect waves-light edit-btn" type="submit">Add Recipe<i class="material-icons right"></i></button>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock %}
