{% extends "layout/base.html" %}


{% block content %}


<!-- Link to add_ecipe css -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/add_recipe.css') }}" />

{% include 'components/text_dividers/divider_top.html' %}


<div class="container">
    <div class="row">
        <h1 class="col s12 center-align">Add Recipe</h1>
    </div>
</div>


{% include 'components/text_dividers/divider_bottom.html' %}
 

{% include 'components/helpers/floating_button.html' %}


<div class="container add-recipe">
    <div class="row">
        <form class="col s10 push-s1" method="POST" action="{{ url_for('add_recipe') }}">
            <div class="row">
                <!-- Dropdown Recipe Category -->
                <div class="input-field col s12 m8 offset-m2">
                    <select id="recipe_category" name="recipe_category" class="validate" required>
                        <option value="" disabled selected>Choose Recipe Category</option>
                        {% for category in categories %}
                        <option value="{{ category.category_name }}">{{ category.category_name }} </option>
                        {% endfor %}
                    </select>
                </div>
                <!-- Dropdown Recipe Difficulty -->
                <div class="input-field col s12 m8 offset-m2">
                    <select id="recipe_difficulty" name="recipe_difficulty" class="validate" required>
                        <option value="" disabled selected>Choose Recipe Difficulty</option>
                        {% for difficulty in difficultys %}
                        <option value="{{ difficulty.difficulty_name }}">{{ difficulty.difficulty_name }} </option>
                        {% endfor %}
                    </select>
                </div>
                <!-- Text Input Recipe Name -->
                <div class="input-field col s10 m8 offset-m2">
                    <input
                        id="recipe_name"
                        name="recipe_name"
                        type="text"
                        minlength="3"
                        maxlength="20"
                        class="validate"
                        data-length="20"
                        pattern="^[a-zA-Z]{3,20}|[a-zA-Z]{3,20}( )[a-zA-Z]{3,20}|[a-zA-Z]{3,20}( )[a-zA-Z]{3,20}( )[a-zA-Z]{3,20}$"
                        title="Please use Alphabet letters!"
                        data-error="wrong"
                        required
                    />
                    <label for="recipe_name">Enter Recipe Name</label>
                </div>
                <div class="col s2">
                   <a class="modal-trigger" href="#info-name"><i class="fas fa-info-circle"></i></a>
                   <div id="info-name" class="modal">
                    <div class="modal-content info-modal">
                    <h4>RECIPE NAME</h4>
                    <p>
                        Please use alphabetical letters only, the name of the recipe cannot start with a blank space, number or special character also the name of the recipe must not be shorter than three letters or longer than twenty letters!
                        The allowed amount of words in the recipe name is three.
                       </p>
                    </div>
                    <div class="modal-footer">
                    <a href="#!" class="modal-close waves-effect modal-btn btn-flat">Agree</a>
                    </div>
                </div>
                </div>
                <!-- Text Input Recipe Cooking Time -->
                <div class="input-field col s10 m8 offset-m2">
                    <input
                        id="recipe_cooking_time"
                        name="recipe_cooking_time"
                        type="text"
                        minlength="1"
                        maxlength="6"
                        class="validate"
                        data-length="6"
                        pattern="^[1-9]{1,1}( )[h]|[1-9][0-9]{1,1}( )[h]|[1-9]{1,2}( )[min]{3,3}|[1-9][0-9]{1,2}( )[min]{3,3}$"
                        title="Please use format X min, X h, EXAMPLE: 10 min, 10 h"
                        data-error="wrong"
                        required
                    />
                    <label for="recipe_cooking_time">Enter Recipe Cooking Time</label>
                </div>
                 <div class="col s2">
                    <a class="modal-trigger" href="#info-cook-time"><i class="fas fa-info-circle"></i></a>
                    <div id="info-cook-time" class="modal">
                    <div class="modal-content info-modal">
                    <h4>RECIPE COOKING TIME</h4>
                    <p>                      
                        Please start the cooking time of the recipe with a number but not with zero, also end the cooking time with h for hour or min for minutes select what you think best describes the cooking time. The time and the unit of measurement must be separated by a space.<br>
                        Example 1 h or 10 h for hour and 1 min or 10 min for minute.<br>
                        The cooking time cannot be longer than two numbers.                  
                       </p>
                    </div>
                    <div class="modal-footer">
                    <a href="#!" class="modal-close waves-effect modal-btn btn-flat">Agree</a>
                    </div>
                </div>
                </div>
                <!-- Text input Recipe Preparation Time -->
                <div class="input-field col s10 m8 offset-m2">
                    <input
                        id="recipe_prep_time"
                        name="recipe_prep_time"
                        type="text"
                        minlength="1"
                        maxlength="6"
                        class="validate"
                        data-length="6"
                        pattern="^[1-9]{1,1}( )[h]|[1-9][0-9]{1,1}( )[h]|[1-9]{1,2}( )[min]{3,3}|[1-9][0-9]{1,2}( )[min]{3,3}$"
                        title="Please use format X min, X h, EXAMPLE: 10 min, 10 h"
                        data-error="wrong"
                        required
                    />
                    <label for="recipe_prep_time">Enter Recipe Prepare Time</label>
                </div>
                 <div class="col s2">
                    <a class="modal-trigger" href="#info-prep-time"><i class="fas fa-info-circle"></i></a>
                    <div id="info-prep-time" class="modal">
                    <div class="modal-content info-modal">
                    <h4>RECIPE PREPARATION TIME</h4>
                    <p>                      
                        Please start the preparation time of the recipe with a number but not with zero, also end the preparation time with h for hour or min for minutes select what you think best describes the preparation time. The time and the unit of measurement must be separated by a space.<br>
                        Example: 1 h or 10 h for hour and 1 min or 10 min for minute.<br>
                        The preparation time cannot be longer than two numbers.                  
                       </p>
                    </div>
                    <div class="modal-footer">
                    <a href="#!" class="modal-close waves-effect modal-btn btn-flat">Agree</a>
                    </div>
                </div>
                </div>
                <!-- Text Input Recipe Size -->
                <div class="input-field col s10 m8 offset-m2">
                    <input
                        id="recipe_servings"
                        name="recipe_servings"
                        type="text"
                        minlength="1"
                        maxlength="2"
                        class="validate"
                        data-length="2"
                        pattern="^[1-9]{1,2}|[1-9][0-9]{1,2}$"
                        title="Please use numbers only!"
                        data-error="wrong"
                        required
                    />
                    <label for="recipe_servings">Enter Recipe Servings</label>
                </div>
                <div class="col s2">
                    <a class="modal-trigger" href="#info-serves"><i class="fas fa-info-circle"></i></a>
                    <div id="info-serves" class="modal">
                    <div class="modal-content info-modal">
                    <h4>RECIPE SERVINGS</h4>
                    <p>                      
                        Please start portions of the recipe with a number, but not with a zero. Use numbers only, portions of the recipe cannot be longer than two numbers.               
                       </p>
                    </div>
                    <div class="modal-footer">
                    <a href="#!" class="modal-close waves-effect modal-btn btn-flat">Agree</a>
                    </div>
                </div>
                </div>
                <!-- Text input Recipe Image -->
                <div class="input-field col s10 m8 offset-m2">
                    <input
                        id="recipe_image"
                        name="recipe_image"
                        type="text"
                        minlength="5"
                        maxlength="250"
                        class="validate"
                        data-length="250"
                        pattern="(http(s?):)([/|.|\w|\s|-])*\.(?:jpg|gif|png)"
                        title="Image URL must start with http:// or https://"
                        data-error="wrong"
                        required
                    />
                    <label for="recipe_image">Recipe Image ULR</label>
                </div>
                <div class="col s2">
                    <a class="modal-trigger" href="#info-img"><i class="fas fa-info-circle"></i></a>
                    <div id="info-img" class="modal">
                    <div class="modal-content info-modal">
                    <h4>RECIPE IMAGE</h4>
                    <p>                      
                        Please make shure that image link starts with http or https and ends with jpg, gif or png. See instruction below.<br>
                        1. Find the image of your recipe<br>
                        2. Open image in new tab<br>
                        3. Copy image address by right mouse<br> click on image or hold 3 sec on mobile devices and tablets.
                       </p>
                    </div>
                    <div class="modal-footer">
                    <a href="#!" class="modal-close waves-effect modal-btn btn-flat">Agree</a>
                    </div>
                </div>
                </div>
                <!-- Text Input Recipe Ingredients -->
                <div class="input-field col s10 m8 offset-m2">
                    <textarea id="recipe_ingredients"
                    name="recipe_ingredients"
                    class="materialize-textarea validate"
                    minlength="5"
                    maxlength="800"
                    data-length="800"
                    data-error="wrong"
                    required></textarea>
                    <label for="recipe_ingredients">
                        Enter recipe ingredients 
                    </label>
                </div>
                <div class="col s2">
                    <a class="modal-trigger" href="#info-ingredients"><i class="fas fa-info-circle"></i></a>
                    <div id="info-ingredients" class="modal">
                    <div class="modal-content info-modal">
                    <h4>RECIPE INGREDIENTS</h4>
                    <p>                                          
                        Please enter each ingredient and quantity on a new line.<br> 
                        See instructions below. Recipe ingredients cannot be longer than 800 characters              
                       </p>
                        <img src="static/img/add_recipe_instruction/ing-instruction.gif" alt="instruction" class="gif-instruction"/>
                   </div>
                    <div class="modal-footer">
                    <a href="#!" class="modal-close waves-effect modal-btn btn-flat">Agree</a>
                    </div>
                </div>
                </div>
                <!-- Empty ingredients modal -->
                <div id="empty_modal" class="modal">
                    <div class="modal-content">
                    <h4 class="center-align">Please check your input!</h4>
                    <p class="center-align">Ingredients or cooking methods must not be empty!</p>
                    </div>
                    <div class="modal-footer">
                    <a href="#!" class="modal-close waves-effect modal-btn btn-flat">Agree</a>
                    </div>
                </div>
                <!-- Text Input Recipe Method -->
                <div class="input-field col s10 m8 offset-m2">
                    <textarea id="recipe_method" name="recipe_method" class="materialize-textarea validate" minlength="5" maxlength="3000" data-length="3000" required></textarea>
                    <label for="recipe_method">
                        Enter recipe cooking method
                    </label>
                </div>
                 <div class="col s2">
                    <a class="modal-trigger" href="#info-method"><i class="fas fa-info-circle"></i></a>
                    <div id="info-method" class="modal">
                    <div class="modal-content info-modal">
                    <h4>RECIPE METHOD</h4>
                    <p>                                          
                        Please enter each method on a new line.<br>
                        See instructions below. Recipe method cannot be longer than 3000 characters    </p>
                        <img src="static/img/add_recipe_instruction/method-instruction.gif" alt="instruction" class="gif-instruction"/>     
                   </div>
                    <div class="modal-footer">
                    <a href="#!" class="modal-close waves-effect modal-btn btn-flat">Agree</a>
                    </div>
                </div>
                </div>
            </div>
            <!-- Submit Button -->
            <div class="row">
                <div class="col s12 center-align">
                    <button id="add_button"  class="btn waves-effect waves-light edit-btn" type="submit">Add Recipe<i class="material-icons right"></i></button>
                </div>
            </div>
        </form>
    </div>
</div>

<script type="text/javascript" src="{{ url_for('static', filename='js/text-area.js') }}"></script>

{% endblock %}
