{% extends "layout/base.html" %}

{% block content %}

    
<!-- Link to category css file-->
<link rel="stylesheet" href="{{ url_for('static', filename='css/recipes_category.css') }}">
	<!-- Link to recipes card css file-->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/recipe_card.css') }}">
		<!-- Decorative Text Divider Top -->
    {% include 'components/text_dividers/divider_top.html' %}

    
		<div class="headers">
			<h1 class="center-align category-headers">
            Breakfast Recipes
        </h1>
		</div>
		<!-- Decorative Text Divider Bottom -->
    {% include 'components/text_dividers/divider_bottom.html' %}

    
		<!-- FLOATING BUTTON \\ components/helpers/floating_button.html -->
    {% include 'components/helpers/floating_button.html' %}

    
		<!-- Add middle divider after 4 added recipes -->
		<div class="recipe-card container">
			<div class="row">
            {% for recipe in breakfast %}
                {% include 'components/recipe_card/recipe_card.html' %}  
                {% if loop.index == 4 %}
                    <div class="container">
                        <div class="row">
                            <div class="col s12 center-align">
                                {% include 'components/text_dividers/divider_middle.html' %}
                            </div>
                        </div>
                    </div>  
                {% endif %}
            {% endfor %}
        </div>
		</div>


{% endblock %}
