{% extends "layout/base.html" %}

{% block content %}


<link rel="stylesheet" href="{{ url_for('static', filename='css/search_bar.css') }}">
<!-- 
    Hero image source
    https://downloads.canon.com/nw/learn/2019/june/top-tips-for-better-food-photos-on-social-media/liza-gershman-food-photos-social-parallax.jpg

 -->

    <!-- Parallax and welcome message -->
    {% include 'components/parallax/parallax.html' %}

    <!-- Search Bar -->
    {% include 'components/search_bar/search_bar.html' %}

    <!-- Decoarative Text Divider Top -->
    {% include 'components/text_dividers/divider_top.html' %}

    <!-- Breakfast -->
    <div class="container">
        <div class="row center-align">
            <h1 class="center-align category-headers">For Great Morning</h1>
        </div>
    </div>

    <!-- Decoarative Text Divider Bottom -->
    {% include 'components/text_dividers/divider_bottom.html' %}
	
    <!-- Recipe breakfast.html -->
    {% include 'components/recipes_sort/recipe_breakfast.html' %}

    <!-- Decoarative Text Divider Top -->
    {% include 'components/text_dividers/divider_top.html' %}

    <!-- Lunch -->
    <div class="container">
        <div class="row center-align">
           <h1 class="center-align category-headers">For Perfect Lunch</h1>
        </div>
    </div>

    <!-- Decoarative Text Divider Bootom -->
    {% include 'components/text_dividers/divider_bottom.html' %}

    <!-- Recipe lunch.html -->
    {% include 'components/recipes_sort/recipe_lunch.html' %}

    <!-- Decoarative Text Divider Top -->
    {% include 'components/text_dividers/divider_top.html' %}

    <!-- Dinner -->
    <div class="container">
        <div class="row center-align">
           <h1 class="center-align category-headers">For Easy Dinner</h1>
        </div>
    </div>

    <!-- Decoarative Text Divider Bootom -->
    {% include 'components/text_dividers/divider_bottom.html' %}

    <!-- Recipe dinner.html -->
    {% include 'components/recipes_sort/recipe_dinner.html' %}

    <!-- Decoarative Text Divider Top -->
    {% include 'components/text_dividers/divider_top.html' %}

    <!-- Desserts -->
    <div class="container">
        <div class="row center-align">
           <h1 class="center-align category-headers">Best From Desserts</h1>
        </div>
    </div>
    
    <!-- Decoarative Text Divider Bootom -->
    {% include 'components/text_dividers/divider_bottom.html' %}

    <!-- Recipe desserts.html -->
    {% include 'components/recipes_sort/recipe_desserts.html' %}

    <!-- Login container -->
	{% include 'components/forms/index_login.html' %}
    
{% endblock %}
