{% extends "layout/base.html" %}


{% block content %}


<!-- 
    Hero image source
    https://downloads.canon.com/nw/learn/2019/june/top-tips-for-better-food-photos-on-social-media/liza-gershman-food-photos-social-parallax.jpg

 -->


{% include 'components/parallax/parallax.html' %}


{% include 'components/search_bar/search_bar.html' %}


{% include 'components/text_dividers/divider_top.html' %}


<!-- HEADER  // templates/pages/index.html-->
<div class="container">
    <div class="row">
        <h1 class="col s12 center-align">For Great Morning</h1>
    </div>
</div>


{% include 'components/helpers/floating_button.html' %}


{% include 'components/text_dividers/divider_bottom.html' %}


{% include 'components/carousel/breakfast_carousel.html' %}


{% include 'components/recipes_sort/sort_breakfast.html' %}


{% include 'components/text_dividers/divider_top.html' %}


<!-- HEADER  // templates/pages/index.html-->
<div class="container">
    <div class="row">
        <h1 class="col s12 center-align">For Perfect Lunch</h1>
    </div>
</div>


{% include 'components/text_dividers/divider_bottom.html' %}


{% include 'components/carousel/lunch_carousel.html' %}


{% include 'components/recipes_sort/sort_lunch.html' %}


{% include 'components/text_dividers/divider_top.html' %}


<!-- HEADER  // templates/pages/index.html-->
<div class="container">
    <div class="row">
        <h1 class="col s12 center-align">For Easy Dinner</h1>
    </div>
</div>


{% include 'components/text_dividers/divider_bottom.html' %}


{% include 'components/carousel/dinner_carousel.html' %}


{% include 'components/recipes_sort/sort_dinner.html' %}


{% include 'components/text_dividers/divider_top.html' %}


<!-- HEADER  // templates/pages/index.html-->
<div class="container">
    <div class="row">
        <h1 class="col s12 center-align">Best From Desserts</h1>
    </div>
</div>


{% include 'components/text_dividers/divider_bottom.html' %}


{% include 'components/carousel/desserts_carousel.html' %}


{% include 'components/recipes_sort/sort_desserts.html' %}


{% include 'components/forms/index_login.html' %}
    

{% endblock %}
