{% extends "layout/base.html" %}


{% block content %}


<!-- Link to recipes_category.css -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/recipes_category.css') }}">


<!-- Link to recipe_card.css -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/recipe_card.css') }}">


{% include 'components/text_dividers/divider_top.html' %}


<div class="container">
    <div class="row">
        <h1 class="col s12 center-align">Lunch</h1>
    </div>
</div>


{% include 'components/text_dividers/divider_bottom.html' %}


{% include 'components/helpers/floating_button.html' %}


<!-- For all recipe in db include recipe_card
     If more than 4 include divider_middle -->
<div class="recipe-card container">
    <div class="row">
    {% for recipe in lunch %} 
        {% include 'components/recipe_card/recipe_card.html' %} 
        {% if loop.index % 4 == 0 %} 
            {% include 'components/text_dividers/divider_middle.html' %}
        {% endif %} 
    {% endfor %}
    </div>
</div>


{% endblock %}
