/* Position and style of caret when category is pressed */
.select-wrapper .caret {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  margin: 0;
  z-index: 0;
  fill: rgba(0, 0, 0, 0.87);
}


/* Recipes container style */
.add-recipe {
  background-color: var(--pale-silver);
  margin-bottom: 80px;
  border-radius: 20px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24), -3px 0px 3px rgba(0, 0, 0, 0.12), 1px 0px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
  border: 0.5px solid var(--floral-white);
  margin-top: 4rem;
}


/* Position and style of dropdown menus */
.dropdown-content {
  top: 33px !important;
  margin: 12px;
  overflow-y: auto;
  position: absolute;
  background-color: var(--eerie-black);
  height: 210px;
}


/* Recipe cards edit de;ete button */
.edit-dlt-btn-border-top {
  border-top: 1px solid var(--floral-white);
}


/* Recipe cards edit/ delete btn margins */
.edit-dlt-btn-margin {
  margin-top: 20px;
  margin-bottom: 20px;
}


.edit-btn,
.delete-btn {
  background-color: var(--flame);
  color: var(--shadow);
  font-weight: 700;
}


/* Edit Btn style */
.edit-btn:hover {
  background-color: #39c939;
  box-shadow: inset 0px 0px 10px 2px var(--shadow);
}


/* Delete btn style */
.delete-btn:hover {
  background-color: red;
  box-shadow: inset 0px 0px 10px 2px var(--shadow);
}


/* Help modals */
.info-modal {
  text-align: center;
  font-size: 20px;
}


.modal-btn {
  background-color: var(--flame);
  color: var(--eerie-black);
}


/* Modals Gif */
.gif-instruction {
  border: 1px solid var(--shadow);
}


/* Input fileds */
.input-field>label {
  color: var(--flame);
}


.dropdown-triger {
  color: var(--flame);
}


/* Text area font color*/
textarea.materialize-textarea {
  color: var(--flame);
}


#query::placeholder, input {
  color: var(--shadow);
}


/* To position info buttons */
.fa-info-circle {
  margin-top: 25px;
}