/* My Recipe styles used separate css because of middle divider */

/* Decorative dividers position */
.decorative-divider-top .row .col {
    margin-top: 7rem;
    float: none;
}  

/* Middle divider show after 4 recipes is added */

.decorative-divider-middle {
    margin-top: 3rem;
    margin-bottom: 3rem;
}



/* Log in welcome message  */
.log-in-welcome-msg {
    font-size: 50px;
    font-family: var(--header-font);
    text-shadow: -4px 4px 2px #eb5e28;
    color: #252422;
    padding: 3px;
    margin-top: 0px;
}
