/* Recipe cards style and position
   Category size and borders 
 */

 /* Position card */
/* .recipe-card .col .row {
  margin-top: 3vw;
  margin-bottom: 3vw;
} */

/* To center categorys inside card */
.col .row {
    margin-left: 0px;
    margin-right: 0px;
}

/* Recipe cards edit de;ete button */
.edit-dlt-btn-border-top {
    border-top: 1px solid #fffcf2;
}

/* Recipe cards edit/ delete btn margins */
.edit-dlt-btn-margin {
    margin-top: 20px;
    margin-bottom: 20px;
}

.edit-btn,
.delete-btn {
    background-color: #eb5e28;
    border-radius: 15px;
    color:#000000;
    font-weight: 700;
    box-shadow: 0px 0px 4px 0px #000000, 0px 0px 10px 2px #000000;
}

/* Edit Btn style */
.edit-btn:hover {
    background-color: #39c939;
    box-shadow: inset 0px 0px 10px 2px #000000;
    border: 1px solid black;
}

/* Delete btn style */
.delete-btn:hover {
    background-color: red;
    box-shadow: inset 0px 0px 10px 2px #000000;
    border: 1px solid black;
}

/* To remove left margin from recipe cards and position them to middle 
    give padding from both sides to get space between cards
*/
/* .row .col.m3,
.row .col.s6 {
    margin-left: 0px;
    padding-right: 20px;
    padding-left: 20px;

} */

/* To remove paddings around recipe categories */
.card .card-content {
    padding: 0px;
}

.cooking-time {
  height: 20px;
  border-bottom: 1px solid var(--floral-white);
  border-right: 1px solid var(--floral-white);
}

.allergens {
  height: 20px;
  border-bottom: 1px solid var(--floral-white);
}

.serves {
  height: 20px;
  border-right: 1px solid var(--floral-white);
  border-bottom-left-radius: 20px;
}

.difficulty {
  height: 20px;
  border-bottom-right-radius: 20px;
}

/* Categories Fields Display, Position, Font */
.card-category {
  background-color: var(--pale-silver);
  height: 100px;
  display: grid;
  color: var(--eerie-black);
  position: relative;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  text-align: center;
  font-weight: 700;
}

/* Image position inside card */
.card .card-image img {
  display: block;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-radius: 20px;
  height: 160px;
}

/* Position image on middle of card */
.card .card-image {
  position: relative;
  text-align: center;
}

/* Card style  */
.card {
  border-radius: 20px;
  background: var(--pale-silver);
  position: initial;
}

/* Recipe cards on hover */
.card:hover {
    box-shadow: 0px 2px 20px 3px #eb5e28, 0px 2px 20px 2px #0000006e; ;
}

/* Recipe titles in cards */
.card .card-image .card-title {
    bottom: 0;
    left: 0;
    max-width: 100%;
    padding: 0px;
    color: #eb5e28;
    font-family: 'Pacifico';
    text-shadow: 0px -3px 3px #000000;
    /* border-bottom: 1px solid black; */
    text-decoration: underline;
    letter-spacing: 2px;
    /* margin-top: 10px; */
    position: relative;
}

/* Recipe name font  */
.card .card-title {
    font-size: 1.6vw;
    font-weight: 300;
}

/* box-shadow: 0px 2px 20px 3px #eb5e28, 0px 2px 20px 2px #0000006e; */

/* To override Materialize style cards */
/* .card .card-content {
  padding: 0px;
  border-radius: 0 0 2px 2px;
}
 */
/* 
   Cards style for mobile screens  
   Override my custom styles for mobile screens 
   Because category stacks on top of each other
*/
/* @media screen and (max-width: 600px) {
  .cooking-time,
  .allergens,
  .serves {
    border-bottom: 1px solid var(--floral-white);
    border-bottom-left-radius: 0px;
    border-right: none;
  }
  .difficulty {
    border-bottom-left-radius: 20px;
  }
} */

/* /recipe card */
