/* Register Container  */


/* Register and login panel */

.register-panel {
   padding: 0px;
   box-shadow: none;
}


/* Position of register/login container */

.register-container {
   border-radius: 20px;
   top: 100px;
   position: relative;
   display: block;
   margin-bottom: 142px;
   background-color: var(--pale-silver);
   box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24), -3px 0px 3px rgba(0, 0, 0, 0.12), 1px 0px 2px rgba(0, 0, 0, 0.24);
   border: 0.5px solid var(--floral-white);
}


/* Top left and right tabs border radius */

.register-container .row .tabs {
   border-top-left-radius: 20px;
   border-top-right-radius: 20px;
}


/* Input label color and font */

.register-container .input-field>label {
   color: var(--flame);
   font: "Roboto";
   font-weight: 600;
}


/* Active register or log tab  */

.tabs .tab a:hover,
.tabs .tab a.active {
   background-color: #eb5e28;
   color: #252422;
   font-weight: 600;
}


/* Tabs color on focus */

.tabs .tab a:focus,
.tabs .tab a:focus.active {
   background-color: var(--flame);
}


/* Tabs text color when is inactive */

.tabs .tab a {
   color: var(--flame);
}


/* Tabs bg color and active tab indicator */

.tabs,
.tabs .indicator {
   background-color: var(--eerie-black);
}


/* Active tab indicator height */

.tabs .indicator {
   height: 4px;
}


/* Input color */

.card-panel input {
   color: var(--eerie-black);
}