/* Search panel style */


/* Search bar border radius */

.search-container {
   border-radius: 50px;
}


/* Search icon size and location  */

.input-field .prefix {
   position: absolute;
   width: 4rem;
   font-size: 3rem;
   -webkit-transition: color .2s;
   transition: color .2s;
   top: 0.5rem;
}


/* Icon color */

.fas {
   color: var(--flame);
}


/* Search filed size */

.input-field .prefix~input,
.input-field .prefix~textarea,
.input-field .prefix~label,
.input-field .prefix~.validate~label,
.input-field .prefix~.helper-text,
.input-field .prefix~.autocomplete-content {
   margin-left: 5rem;
   width: 68%;
   width: calc(100% - 5rem);
}


/* Search btn */

.search-btn {
   background-color: var(--eerie-black);
}


/* Reset btn */

.reset-btn {
   background-color: var(--flame);
   color: var(--eerie-black);
}


/* Search btn on hover */

.search-btn:hover {
   background-color: var(--flame);
   color: var(--eerie-black);
}


/* Reset btn on hover */

.reset-btn:hover {
   background-color: var(--eerie-black);
   color: var(--flame);
}


/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 320px) {
   /* Search Position */
   .card-panel {
      margin-top: 14vw;
      margin-bottom: 14vw;
   }
   /* Hide button icons on small */
   .btn i,
   .btn-large i,
   .btn-small i,
   .btn-floating i,
   .btn-large i,
   .btn-small i,
   .btn-flat i {
      display: none;
   }
   /* Position search icon */
   .input-field .prefix {
      position: absolute;
      width: 3rem;
      font-size: 2.5rem;
      -webkit-transition: color .2s;
      transition: color .2s;
      top: 0.5rem;
   }
}


/* Extra small devices (phones, 600px and down) */


/* @media only screen and (max-width: 600px) {
    
    
}
    /* Hide button icons on small */

.btn i,
.btn-large i,
.btn-small i,
.btn-floating i,
.btn-large i,
.btn-small i,
.btn-flat i {
   display: none;
}


/* Position search icon */

.input-field .prefix {
   position: absolute;
   width: 3rem;
   font-size: 2.5rem;
   -webkit-transition: color .2s;
   transition: color .2s;
   top: 0.5rem;
}


/* Search bar buttons position */

.btn-container {
   display: flex;
   justify-content: space-evenly;
}


/* Small devices (portrait tablets and large phones, 600px and up) */

@media only screen and (max-width: 600px) {
   /* Hide button icons on small */
   .btn i,
   .btn-large i,
   .btn-small i,
   .btn-floating i,
   .btn-large i,
   .btn-small i,
   .btn-flat i {
      display: none;
   }
   /* Position search icon */
   .input-field .prefix {
      position: absolute;
      width: 3rem;
      font-size: 2.5rem;
      -webkit-transition: color .2s;
      transition: color .2s;
      top: 0.5rem;
   }
   /* Button display  */
   .btn-container {
      display: flex;
      justify-content: space-around;
   }
   /* Center btn */
   .btn,
   .btn-large,
   .btn-small,
   .btn-flat {
      margin-right: 0px;
   }
   /*  Search error\msg icon on mobile */
   .search-result-container .fa-smile,
   .new-search .fa-smile,
   .fa-sad-tear {
      font-size: 6rem;
      text-shadow: 0px 6px 14px black;
   }
   /* Search messages */
   h3 {
      font-size: 2.5rem;
      font-family: var(--header-font);
      text-shadow: -2px 1px 2px #eb5e28;
      color: #252422;
      padding: 3px;
   }
}


/* Medium devices (landscape tablets, 768px and up) */

@media only screen and (min-width: 768px) {
   .new-search-container {
      top: 7rem;
   }
}