/* Color Pattern */
:root {
  --floral-white: #fffcf2;
  --pale-silver: #ccc5b9;
  --black-olive: #403d39;
  --eerie-black: #252422;
  --flame: #eb5e28;
  --shadow: #000000;
}

/* Body Bg Color */
body {
  background-color: var(--floral-white);
  height: 100vh;
  margin: 0;
}

nav {
  background-color: var(--eerie-black);
  height: 70px;
  z-index: 2;
  position: fixed;
}

nav .brand-logo {
  position: absolute;
  color: #fff;
  display: inline-block;
  font-size: 2.1rem;
  padding: 0;
  height: 60px;
  top: 5px;
}

/* Mobile side navigation width and bg-color */
.sidenav {
  width: 200px;
  background-color: var(--eerie-black);
}

/* Mobile side navigation tab style */
.mobile-navigation {
  background-color: var(--pale-silver);
  color: var(--eerie-black);
  margin: 10px;
  text-align: center;
  border-radius: 10px;
  font-family: "Roboto", sans-serif;
  letter-spacing: 1.5px;
}

/* To override Materialize default font */
.sidenav li > a {
  color: var(--eerie-black);
  font-size: 16px;
  font-weight: bold;
}

/* When selected tab is pressed on mobile  */
.mobile-navigation:hover {
  background-color: var(--flame);
}

/* Home page style view for mobile and detskop sizes */
/* Welcome message */
.welcome-message {
  color: var(--flame);
  font-family: "Pacifico", sans-serif;
}

/* If the screen size is 601px wide or more */
@media screen and (min-width: 601px) {
  h2.welcome-message {
    font-size: 80px;
    padding-top: 50px;
    padding-left: 140px;
    text-shadow: -1px 7px 11px var(--shadow);
  }

  .parallax-container p {
    color: var(--eerie-black);
    font-family: "Pacifico", sans-serif;
    font-size: 40px;
    text-shadow: 2px 1px 0px var(--flame);
    margin: 20px 0px 20px 60px;
  }

  /* Button Position and style detskop view */
  .parallax-container .btn {
    color: #000;
    background-color: var(--flame);
    border-radius: 10px;
    left: 300px;
    margin-top: 40px;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
  }
}

/* If the screen size is 600px wide or less */
@media screen and (max-width: 600px) {
  h2.welcome-message {
    text-align: center;
    font-size: 50px;
    text-shadow: 1px 1px 10px var(--shadow), 1px 1px 10px var(--shadow);
  }

  .parallax-container p {
    text-align: center;
    font-family: "Pacifico", sans-serif;
    font-size: 30px;
    text-shadow: 2px 1px 0px var(--shadow);
    color: #ccc5b9;
  }

  /* Added dimmed background for better contrast */
  .mobile-container {
    background-color: rgb(0 0 0 / 61%);
    margin-top: 79px;
    text-align: center;
  }

  /* Button Position and style mobile view */
  .parallax-container .btn {
    color: var(--shadow);
    background-color: var(--flame);
    border-radius: 10px;
    margin-bottom: 10px;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
  }
}

/* Footer position and color*/
.page-footer {
  background-color: var(--eerie-black);
  padding-top: 32px;
}

form {
  background-color: var(--eerie-black);
  height: 44px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 10px 0px 10px 0px;
}

/* Search Bar Input color and text position */
#form {
    height: 70px;
    border-radius: 10px;
    margin-top: 50px;
    margin-bottom: 50px;
}

/* Text position inside search bar */
.search {
  text-align: center;
}

/* Search bar input text color */
::placeholder,
input {
  color: var(--flame);
}

/* Search bar Button */
.search-bar-button {
    margin: 20px;
    color: var(--eerie-black);
    background-color: var(--flame);
    height: 30px;
    width: 85px;
    border-radius: 10px;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
}

/* To add breading space between dividers and headers */
.decorative-divider-top {
    margin-top: 70px;
}

.decorative-divider-bottom {
    margin-top: 40px;
    margin-bottom: 70px;
}

/* To Override decorative divider position */
.decorative-divider-top .row .col,
.decorative-divider-bottom .row .col {
    float: none;
}

/* Category headers */
.headers {
    margin: 0px;
    font-family: 'Pacifico', sans-serif;
    color: var(--flame);
    text-shadow: 0px 7px 7px var(--shadow);
}

/* Position and size of dividers on detskop screens */
@media screen and (min-width: 601px) {
  .row .col.l6 {
    width: 50%;
  }

  .headers {
    font-size: 4vw;
  }
}

/* Position and size of dividers on mobile screens */
@media screen and (max-width: 600px) {
  .row .col.s6 {
    width: 100%;
  }

  .headers {
    font-size: 10vw;
  }
}

/* Recipe cards style and position
   Category size and borders 
 */
.cooking-time {
  height: 20px;
  border-bottom: 1px solid var(--floral-white);
  border-right: 1px solid var(--floral-white);
}

.allergens {
  height: 20px;
  border-bottom: 1px solid var(--floral-white);
}

.serves {
  height: 20px;
  border-right: 1px solid var(--floral-white);
  border-bottom-left-radius: 20px;
}

.difficulty {
  height: 20px;
  border-bottom-right-radius: 20px;
}

/* Categories Fields Display, Position, Font */
.card-category {
  background-color: var(--pale-silver);
  height: 100px;
  display: grid;
  color: #252422;
  position: relative;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  text-align: center;
}

/* Recipe cards icons style */
.fas {
  text-align: center;
  font-size: 30px;
  color: #eb5e28;
}

/* Image position inside card */
.card .card-image img {
  display: inline;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-radius: 20px;
}

/* Position image on middle of card */
.card .card-image {
    position: relative;
    text-align: center;
}

/* Card style  */
.card {
  border-radius: 20px;
  background: var(--pale-silver);
  position: initial;
}

/* To override Materialize style cards */
.card .card-content {
  padding: 0px;
  border-radius: 0 0 2px 2px;
}

/* Cards category position and size */
.recipe-card .col .row {
  margin-left: 0px;
  margin-right: 0px;
}

/* 
   Cards style for mobile screens  
   Overide my custom styles for mobile screens 
   Because category stacks on top of each other
*/
@media screen and (max-width: 600px) {
  .cooking-time,
  .allergens,
  .serves {
    border-bottom: 1px solid var( --floral-white);
    border-bottom-left-radius: 0px;
    border-right: none;
  }
  .difficulty {
      border-bottom-left-radius: 20px;
  }
}

