/* Color Pattern */
:root {
    --floral-white: #fffcf2;
    --pale-silver: #ccc5b9;
    --black-olive: #403d39;
    --eerie-black: #252422;
    --flame: #eb5e28;
    --shadow: #000000;
}

/* Body Bg Color */
body {
    background-color: var(--floral-white);
    height: 100vh;
    margin: 0;
}

/* Flash messages style and position */
.flashes h4 {
  line-height: 2;
  margin-top: 100px;
  background-color: var(--pale-silver);
  color: var(--eerie-black);
}

/* Icons style and color */
.fas {
    text-align: center;
    font-size: 30px;
    color:  var(--flame);
}

/* Footer position and color*/
.page-footer {
    background-color: var(--eerie-black);
    position: relative;
    bottom: 0;
    left:0;
    width: 100%;
}

/* Search Bar Input color and text position */
#form-search {
    height: 70px;
    border-radius: 10px;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: var(--eerie-black);
    display: flex;
    flex-direction: row;
    align-items: center;
}

/* Text position inside search bar */
.search {
    text-align: center;
}

/* Search bar input text color */
.search,
#query::placeholder,
input {
    color: var(--flame);
} 

/* Search bar Button */
.search-bar-button {
    margin: 20px;
    color: var(--eerie-black);
    background-color: var(--flame);
    height: 30px;
    width: 85px;
    border-radius: 10px;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
}

/* To add breading space between dividers and headers */
.decorative-divider-top {
    margin-top: 70px;
}

.decorative-divider-bottom {
    margin-top: 40px;
    margin-bottom: 70px;
}

/* To Override decorative divider position */
.decorative-divider-top .row .col,
.decorative-divider-bottom .row .col {
    float: none;
}

.headers {
    position: relative;
    top: 100px;
    padding-bottom: 50px;
    font-family: "Pacifico", sans-serif;
    color: var(--flame);
    text-shadow: 0px 7px 7px var(--shadow);
}

/* Category headers */
.category-headers {
    margin: 0px;
    font-family: "Pacifico", sans-serif;
    color: var(--flame);
    text-shadow: 0px 7px 7px var(--shadow);
}

/* Position and size of dividers on detskop screens */
@media screen and (min-width: 601px) {
  .row .col.l6 {
    width: 50%;
  }

  .category-headers {
    font-size: 4vw;
  }
}

/* Position and size of dividers on mobile screens */
@media screen and (max-width: 600px) {
  .row .col.s6 {
    width: 100%;
  }

  .category-headers {
    font-size: 10vw;
  }
}
