{% block recipe_card %}


<!--  User Recipe Card / recipe_card/user_recipe_card.html // ** -->
<div class="col s6 m4 l3">
    <a href="{{ url_for('recipe', recipe_id=recipe._id) }}">
        <div class="card main-shadow">
            <div class="card-image">
                <img src="{{ recipe.recipe_image }}">
                <span class="card-title">{{ recipe.recipe_name }}</span>
            </div>
            <div class="card-content">
                <div class="row card-content">
                    <div class="col card-category s6 cooking-time">
                        <i class="fas fa-mortar-pestle"></i>
                        {{recipe.recipe_prep_time }}
                    </div>
                    <div class="col card-category s6 allergens">
                        <i class="fas fa-clock"></i>
                        {{recipe.recipe_cooking_time }}
                    </div>
                    <div class="col card-category s6 serves">
                        <i class="fas fa-users"></i>
                        {{recipe.recipe_servings }}
                    </div>
                    <div class="col card-category s6 difficulty">
                        <i class="fas fa-balance-scale"></i>
                        {{recipe.recipe_difficulty }}
                    </div>
                </div>
                {% if session.user|lower == recipe.created_by|lower %}
                    <div class="row edit-dlt-btn-border-top">
                        <!-- Edit Button -->
                        <div class="col col s8 push-s2  edit-dlt-btn-margin  center-align">
                            <a href="{{ url_for('edit_recipe', recipe_id=recipe._id) }}" class="edit-btn waves-effect waves-light btn ">Edit</a>
                        </div>
                        <!-- Delete Button -->
                        <div class="col s10 push-s1 edit-dlt-btn-margin center-align ">
                            <a class="delete-btn edit-dlt-btn-margin center-align waves-effect waves-light btn modal-trigger" href="#modal1">Delete</a>
                        </div>
                        <!-- Modal Structure -->
                        <div id="modal1" class="modal modal-fixed-footer delete-modal">
                            <div class="modal-content">
                                <h4 class="center-align section">Delete</h4>
                            <div class="divider"></div>
                                <p class="center-align modal-question">Are you sure you want to delete this recipe?</p>
                            </div>
                            <div class="modal-footer">
                                <a href="{{ url_for('my_recipes', username=session['user']) }}" class="modal-close center-align col s4 push-s1 waves-effect waves-green btn-flat edit-btn">NO</a>
                                <a href="{{ url_for('delete_recipe', recipe_id=recipe._id) }}" class="modal-close center-align col s4 push-s3 waves-effect waves-green btn-flat delete-btn">YES</a>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </a>
</div>
   

{% endblock %}
