{% extends "base.html" %}
{% block content %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/add_recipe.css') }}">

<h3 class="center-align headers">Add Recipe</h3>

<div class="container add-recipe">
    <div class="row">
        <form class="col s12" method="POST" action="">
            <div class="row">
                <div class="input-field col s6 m6 offset-m3">
                    <select id="recipe_category" name="recipe_category" class="validate" required>
                        <option class="validate" value="" disabled selected> Choose Recipe Category
                        </option>
                        {% for category in categories %}
                            <option value="{{ category.category_name }}">{{ category.category_name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="input-field col s6 m6 offset-m3">
                    <input id="recipe_name" name="recipe_name" 
                        type="text" data-length="30" required>
                    <label for="recipe_name">Recipe Name</label>
                </div>
                <div class="input-field col s6 m6 offset-m3">
                    <input id="recipe_cuisine" name="recipe_cuisine"
                        type="text" data-length="30" required>
                    <label for="recipe_cuisine">Recipe Cuisine</label>
                </div>
                <div class="input-field col s6 m6 offset-m3">
                    <input id="recipe_cooking_time" name="recipe_cooking_time" 
                        type="text" data-length="10" required>
                    <label for="recipe_cooking_time">Recipe Prepare Time</label>
                </div>
                <div class="input-field col s6 m6 offset-m3">
                    <select multiple id="recipe_allergen" name="recipe_allergen" class="validate active" required>
                        <option value="" disabled selected>Recipe Allergens</option>
                        {% for allergen in allergens %}
                            <option value="{{ allergen.allergen_name }}">{{ allergen.allergen_name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="input-field col s6 m6 offset-m3">
                    <input id="recipe_size" name="recipe_size" type="text" 
                        data-length="10" required>
                    <label for="recipe_size">Recipe Size</label>
                </div>
                <div class="input-field col s6 m6 offset-m3">
                    <select id="recipe_difficulty" name="recipe_difficulty"          class="validate" required>
                        <option value="" disabled selected>Recipe Difficulty
                        </option>
                        {% for difficulty in difficultys %}
                            <option value="{{ difficulty.difficulty_name }}">{{ difficulty.difficulty_name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="input-field col s6 m6 offset-m3">
                    <input id="recipe_image" name="recipe_image" type="text" required>
                    <label for="recipe_image">Recipe Image ULR</label>
                </div>
                <div class="input-field col s6 m6 offset-m3">
                    <textarea id="recipe_ingredients" name="recipe_ingredients" class="materialize-textarea" required></textarea>
                    <label for="recipe-ingredients">Recipe Ingredients</label>
                </div>
                <div class="input-field col s6 m6 offset-m3">
                    <textarea id="recipe_method" name="recipe_method" class="materialize-textarea" required></textarea>
                    <label for="recipe-method">Recipe Method</label>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock %}
