{% extends "base.html" %}

{% block content %}

<!-- 
    Hero image source
    https://downloads.canon.com/nw/learn/2019/june/top-tips-for-better-food-photos-on-social-media/liza-gershman-food-photos-social-parallax.jpg

 -->
	<div class="parallax-container">
		<div class="parallax"><img src="static/img/hero/hero.jpg"></div>
        <div class="mobile-container">
            <h2 class="welcome-message">Start Cooking</h2>
            <p>Delicious ingredients you'll love to eat.</p>
            <p>Simple recipes you'll live to cook.</p>
            <a class="waves-effect waves-light btn">Browse</a>
        </div>
	</div>

{% endblock %}