{% extends "base.html" %}

{% block content %}

<!-- 
    Hero image source
    https://downloads.canon.com/nw/learn/2019/june/top-tips-for-better-food-photos-on-social-media/liza-gershman-food-photos-social-parallax.jpg

 -->

    <!-- Parallax and welcome message -->
    {% include 'components/parallax.html' %}

    <!-- Search Bar -->
    {% include 'components/search.html' %}


    <div class="container">
        <div class="row center-align">
            <img class="col s6 m6 l6" src="static/img/decorative_dividers/divider-top.png" alt="decorative-divider">
        </div>
    </div>
    <h1 class="center-align headers">This Week Favorite</h1>
    <div class="container">
        <div  class="row center-align">
            <img class="col s6 m6 l6" src="static/img/decorative_dividers/divider-bottom.png" alt="decorative-divider">
        </div>
    </div>


{% endblock %}
