{% extends "base.html" %}
{% block content %}

<!-- Flash Message -->
{% include 'components/flash_message.html' %}

<div class="container register-container">
    <div class="row center-align z-depth-5">
        <ul id="tabs-swipe-demo" class="tabs">
            <li class="tab col s6">
                <a class="active" href="#test-swipe-1">Log In</a>
            </li>
            <li class="tab col s6">
                <a href="#test-swipe-2">Register</a>
            </li>
        </ul>
        <img src="static/img/logo/logo-dark.png" style="
            margin-top: 50px;" alt="cook-book logo">
        <div id="test-swipe-1" class="col s12 ">

            <!-- Log in Form -->
            {% include 'components/log_in_form.html' %}

        </div>
        <div id="test-swipe-2" class="col s12 ">

            <!-- Registration Form -->
            {% include 'components/registration_form.html' %}

        </div>
    </div>
</div>

{% endblock %}
