{% extends "base.html" %}
{% block content %}

    <section>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="row flashes">
                        <h4 class="light-blue lighten-4 center-align">
                            {{ message }}
                        </h4>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </section>

    <h3 class="center-align">Register</h3>

		<div class="row">
			<form class="col s12 m8 offset-m2" method="POST" action="{{url_for('register') }}">
				<div class="card-panel">
                    <!-- Username -->
					<div class="row">
						<div class="input-field col s12">
							<i class="fas fa-user-plus prefix"></i>
							<input id="username" name="username" type="text" minlength="5"          maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$"  class="validate"       required>
							<label for="username">Username</label>
						</div>
					</div>
                    <!-- Password -->
					<div class="row">
						<div class="input-field col s12">
                            <i class="fas fa-user-lock prefix"></i>
							<input id="password" name="password" minlength="5" maxlength="15"       type="password" pattern="^[a-zA-Z0-9]{5,15}$" class="validate"       required>
							<label for="password">Password</label>
						</div>
					</div>
                    <!-- Email -->
					<div class="row">
						<div class="input-field col s12">
							<i class="fas fa-at prefix"></i>
							<input id="email" name="email" type="email" class="validate">
							<label for="email">Email</label>
						</div>
                        
					</div>
                    <!-- Register -->
                    <div class="row">
                        <button type="submit" class="col s12 btn-large">
                            Register <i class="fas fa-sign-in-alt"></i>
                        </button>
                    </div>
				</div>
			</form>
		</div>

{% endblock %}
