{% block dinner_carousel %}


<!-- Carousal dinner // components/carousel/ -->
<div class="container">
    <div class="row">
        <div class="col s12 carousel show-on-small">
        {% for recipe in dinner %}
            <a class=" carousel-item" href="{{ url_for('recipe', recipe_id=recipe._id) }}">
                <div class="card main-shadow">
                    <div class="card-image">
                        <img src="{{ recipe.recipe_image }}">
                        <span class="card-title">{{ recipe.recipe_name }}</span>
                    </div>
                    <div class="card-content container">
                        <div class="row card-content">
                            <div class="col card-category  s6 cooking-time">
                                <i class="fas fa-mortar-pestle"></i> {{recipe.recipe_prep_time }}
                            </div>
                            <div class="col card-category  s6 allergens">
                                <i class="fas fa-clock"></i> {{recipe.recipe_cooking_time }}
                            </div>
                            <div class="col card-category  s6 serves">
                                <i class="fas fa-users"></i> {{recipe.recipe_servings }}
                            </div>
                            <div class="col card-category  s6 difficulty">
                                <i class="fas fa-balance-scale"></i> {{recipe.recipe_difficulty }}
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        {% endfor %}
        </div>
    </div>
</div>


{% endblock %}
